In [96]:
import pandas as pd
from sklearn.decomposition import PCA
from numpy import corrcoef

In [97]:
# Загрузите данные close_prices.csv. В этом файле приведены цены акций 30 компаний на закрытии торгов за каждый день периода.

In [125]:
data = pd.read_csv('close_prices.csv')

In [101]:
data[:5]

,date,AXP,BA,CAT,CSCO,CVX,DD,DIS,GE,GS,...,PFE,PG,T,TRV,UNH,UTX,V,VZ,WMT,XOM
0,2013-09-23,76.440002,117.510002,85.029999,24.270000,125.519997,59.409999,64.750000,24.280001,165.250000,...,28.799999,79.279999,34.220001,86.379997,71.820000,109.419998,196.240005,47.980000,76.419998,87.750000
1,2013-09-24,76.070000,119.000000,85.110001,24.139999,124.489998,59.319997,64.320000,24.320000,162.970001,...,28.709999,78.620003,34.090000,85.870003,72.320000,110.000000,193.339996,47.270000,75.750000,87.360001
2,2013-09-25,75.989998,118.510002,84.500000,24.430000,124.070000,59.319997,64.449997,24.230000,162.309998,...,28.490000,77.720001,34.049999,85.980003,71.980003,109.260002,191.559998,46.950001,74.650002,87.139999
3,2013-09-26,76.320000,119.379997,84.199997,23.770000,123.489998,59.509996,65.239998,24.250000,162.289993,...,28.520000,78.050003,34.230000,85.830002,72.160004,109.660004,193.559998,47.669998,74.620003,87.070000
4,2013-09-27,75.889999,118.739998,83.800003,23.330000,122.639999,59.009995,65.190002,24.049999,159.850006,...,28.879999,77.209999,33.980000,85.410004,71.989998,109.360001,193.050003,47.000000,74.360001,86.900002

In [126]:
x = data.values[:,1:]

In [99]:
# На загруженных данных обучите преобразование PCA с числом компоненты равным 10.

In [127]:
pca = PCA(n_components=10)
pca.fit(x)

PCA(copy=True, iterated_power='auto', n_components=10, random_state=None,
  svd_solver='auto', tol=0.0, whiten=False)

In [119]:
# Скольких компонент хватит, чтобы объяснить 90% дисперсии?

# Для справки: Для обученного преобразования этот класс позволяет вычислять различные характеристики. # Например, 
# поле explained_variance_ratio_ содержит процент дисперсии, который объясняет каждая компонента.

In [128]:
pca.explained_variance_ratio_

array([ 0.73897118,  0.11007169,  0.04995088,  0.0287492 ,  0.02215448,
        0.01931577,  0.00674853,  0.00614091,  0.00320594,  0.00305611])

In [129]:
var = 0 # дисперсия 
n_var = 0 # количество компонент
for v in pca.explained_variance_ratio_:
    n_var += 1
    var += v
    if var >= 0.9:
        break

In [130]:
n_var, var

(4, 0.92774295378364036)

In [124]:
# 3. Примените построенное преобразование к исходным данным и возьмите значения первой компоненты.

# Для справки: чтобы применить обученное преобразование к данным, можно воспользоваться методом transform.

In [252]:
data_pca = pd.DataFrame(pca.transform(x))

In [253]:
data_pca[:3]

,0,1,2,3,4,5,6,7,8,9
0,-50.902404,17.631677,7.736021,2.596010,2.377569,4.244055,12.883088,3.556570,-5.821974,-1.726040
1,-52.846909,19.146907,7.272546,4.618575,0.102182,3.935519,11.062930,3.432599,-5.633181,-2.012232
2,-54.614439,19.927358,8.109958,4.920347,-0.421454,4.555335,10.119224,4.175203,-5.388287,-2.752699

In [254]:
data_pca.size # размер матрицы = 374 х 10

3740

In [256]:
elem_0 = data_pca[0]  # Значение первой компоненты

In [258]:
len(elem_0)

374

In [176]:
# 4. Загрузите информацию об индексе Доу-Джонса из файла djia_index.csv.

In [172]:
djia= pd.read_csv('djia_index.csv')

In [173]:
djia.head(5)

         date          ^DJI
0  2013-09-23  15401.379883
1  2013-09-24  15334.589844
2  2013-09-25  15273.259766
3  2013-09-26  15328.299805
4  2013-09-27  15258.240234

In [174]:
djia_x = djia.iloc[:,1]

In [175]:
djia_x[:5]

0    15401.379883
1    15334.589844
2    15273.259766
3    15328.299805
4    15258.240234
Name: ^DJI, dtype: float64

In [177]:
# Чему равна корреляция Пирсона между первой компонентой и индексом Доу-Джонса?

In [259]:
corr = corrcoef(elem_0,djia_x)

In [260]:
print('{:0.2f}'.format(corr[1, 0]))

0.91

In [197]:
# 5. Какая компания имеет наибольший вес в первой компоненте? Укажите ее название с большой буквы.

# Для справки: поле components_ содержит информацию о том, какой вклад вносят признаки в компоненты.

In [261]:
pca.components_.size # размер матрицы = 10 х 30

300

In [262]:
len(pca.components_[0]) # берем первую строку матрицы со значениями индекса для 30-ти компаний

30

In [263]:
pca.components_[0]

array([  1.61383840e-02,   1.20644923e-01,  -5.16612711e-02,
         5.04842369e-02,  -1.25859933e-01,   1.14089567e-01,
         2.33906290e-01,  -6.20513749e-03,   2.51227032e-01,
         2.88996029e-01,  -2.64998795e-01,   9.31320168e-02,
         9.13948403e-02,   4.69879340e-02,   2.90549417e-02,
        -2.61068828e-02,   3.29615584e-01,   7.13897133e-02,
         7.62295699e-02,   2.11888868e-01,   2.30922941e-02,
         7.77316954e-02,  -7.20594590e-03,   1.89479745e-01,
         3.21564017e-01,   5.36834873e-02,   5.79683946e-01,
         1.09122230e-04,   8.71614334e-02,  -4.29421420e-02])

In [264]:
elem_weight = pd.DataFrame({'col1': pca.components_[0]})

In [265]:
elem_weight

        col1
0   0.016138
1   0.120645
2  -0.051661
3   0.050484
4  -0.125860
5   0.114090
6   0.233906
7  -0.006205
8   0.251227
9   0.288996
10 -0.264999
11  0.093132
12  0.091395
13  0.046988
14  0.029055
15 -0.026107
16  0.329616
17  0.071390
18  0.076230
19  0.211889
20  0.023092
21  0.077732
22 -0.007206
23  0.189480
24  0.321564
25  0.053683
26  0.579684
27  0.000109
28  0.087161
29 -0.042942

In [266]:
# сортировка по убыванию, максимальным будет самый первый элемент
elem_weight.sort_values(by='col1', ascending=False).index[0]

26

In [267]:
data.columns[elem_weight_sort+1]

'V'